* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-family: 'Montserrat', sans-serif;
    cursor: url('img/cursor.png'), auto;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    animation: slideshow 15s infinite;
}

@keyframes slideshow {
    0% {
        background-image: url('img/1.jpg');
    }
    33% {
        background-image: url('img/2.jpg');
    }
    66% {
        background-image: url('img/3.jpg');
    }
    100% {
        background-image: url('img/1.jpg');
    }
}

.logo-wrapper {
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 1100;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #E8AF30;
    background-color: #162f65;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.logo img {
    width: 80%;
    height: auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0f2043;
    z-index: 1000;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #E8AF30;
    text-transform: uppercase;
    text-align: center;
    flex: 1;
    margin-left: 300px;
}

.digital-clock {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0f2043;
    padding: 10px 15px;
    background-color: #e8c766;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 200px;
}

.button {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #e7e6dd;
    text-decoration: none;
    color: #162f65;
    transition: background-color 0.3s ease;
    cursor: url('img/cursorclick.png'), pointer;
}

.button img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    cursor: url('img/cursorclick.png'), pointer;
}

.button:hover {
    background-color: #E8AF30;
    color: #0f2043;
    transform: scale(1.15);
}
